@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Xác nhận đăng ký tài khoản</span>
                    <h5 id="external-login-title">Liên kết với tài khoản @Model.ProviderDisplayName của bạn.</h5>
                    <hr />

                    <p id="external-login-description" class="blue-text text-darken-2">
                        Bạn đã xác thực thành công với <strong>@Model.ProviderDisplayName</strong>.
                        Vui lòng xác nhận địa chỉ email bên dưới và nhấn nút Register để hoàn tất đăng nhập.
                    </p>

                    <div class="row" style="margin-top: 20px;">
                        @* Form này sẽ gửi dữ liệu đến handler OnPostConfirmationAsync trong code-behind*@
                        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="ModelOnly" class="red-text" role="alert"></div>

                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input asp-for="Input.Email" class="validate" autocomplete="email" />
                                <label asp-for="Input.Email" class="active">Email address</label>
                                <span asp-validation-for="Input.Email" class="red-text"></span>
                            </div>

                            <div class="col s12 center-align">
                                <button type="submit" class="btn btn-large waves-effect waves-light blue darken-2" style="width:100%">
                                    HOÀN TẤT ĐĂNG KÝ
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}